* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #333333;
}
@font-face {
    font-family: KronaOne;
    src: url(media/KronaOne-Regular.ttf);
}
.header {
    width: 100vw;
    height: 110px;
    padding: 0 8%;
    position: fixed;
    background: #252525
}
.logo {
    width: 200px;
    height: auto;
    justify-content: left;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    padding: 28px 0;
}
.nav-links li {
    display: inline-block;
    margin: 0 40px;
}
.nav-links li a {
    text-decoration: none;
    color: white;
    padding: 5px 0;
    font-family:'KronaOne';
    font-size: large;
}
.nav-links li a:hover {
    color: rgb(160, 160, 160);
}
.nav-links li a:active {
    color: rgb(102, 102, 102);
}
.body-content {
    justify-content: center;
    padding-top: 110px;
}
.body-content-list {
    justify-content: center;
    padding-top: 110px;
}
.footer {
    width: 100%;
    height: 110px;
    padding: 0 8%;
    position: relative;
    background: #252525;
    align-content: center;
}
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-nav li{
    display: inline-block;
    padding: 10px 60px;
}
.footer-nav li nav{
    color: white;
    font-family:'KronaOne';
    font-size: medium;
    text-align: center;
}
.encontranos-btn {
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px 40px;
    font-family:'KronaOne';
    font-size: large;
    background: #333;
    justify-content: left;
}
.encontranos-btn:hover {
    background: rgb(64, 64, 64)
}
.encontranos-btn:active {
    color: rgb(102, 102, 102);
    background: rgb(32, 32, 32);
}
.contactos li{
    padding: 10px 30px;
} 
.home-txt {
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family:'KronaOne';
}
.menu {
    margin-bottom: 50px;
}
.menu li {
    justify-items: center;
    display: block;
    border-radius: 50px;
    margin: 50px 20px;
}
.menu li:hover {
    background-color: #494949;
}
.menu li:active {
    background-color: #252525;
}
.menu li a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family:'KronaOne';
    font-size: large;
}
.menu li a img{
    width: 60vw;
    height: auto;
}
.menu li a div{
    padding: 30px 0;
}
.menu li a div nav{
    padding: 500px 0;
}
.aboutus-img {
    padding-top: 30px;
}
.aboutus-img img{
    width: 100%;
    height: auto;
}
.aboutus-txt1 {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 10px;
    font-family:'KronaOne';
    font-size: x-large;
}
.aboutus-txt2 {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:'KronaOne';
}
#aboutus-form {
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:'KronaOne';
    font-size: x-large;
}
#service-form {
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family:'KronaOne';
    font-size: x-large;
}
.enviar-btn {
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 20px 40px;
    font-family:'KronaOne';
    font-size: large;
    background: #252525;
    justify-content: left;
}
.enviar-btn:hover {
    background: rgb(64, 64, 64);
    cursor: pointer;
}
.enviar-btn:active {
    color: rgb(102, 102, 102);
    background: rgb(32, 32, 32);
}
.celulares-txt {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family:'KronaOne';
    font-size: 64px;
}
.celulares-txt-btm {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    font-family:'KronaOne';
    font-size: large;
}
.celulares-nav{
    justify-content: center;
}
.celulares-menu {
    padding: 10px 0;
    justify-content: center;
}
.celulares-menu li{
    display: inline-block;
    margin: 10px 1px;
}
.celulares-menu li nav{
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family:'KronaOne';
    font-size: large;
    background-color: #252525;
    border-radius: 25px;
}
.service-txt {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 20px;
    font-family:'KronaOne';
    font-size: 64px;
}
.service-estimacion {
    justify-content: center;
    text-align: center;
    color: white;
    padding-top: 40px;
    padding-left: 60px;
    padding-bottom: 20px;
    font-family:'KronaOne';
    font-size: 40px;
}
#service-total {
    justify-content: center;
    text-align: center;
    color: white;
    padding-bottom: 60px;
    font-family:'KronaOne';
    font-size: 20px;
}
.service-nav{
    justify-content: space-between;
}
.service-menu {
    margin-left: 5vw;
}
.service-menu li{
    display: inline-block;
    margin: 10px 4px;
}
.service-menu li nav{
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 15px 0px;
    font-family:'KronaOne';
    font-size: 28px;
    background-color: #252525;
    border-radius: 25px;
}
@media (max-width: 1100px) {
    .body-content {
        margin-left: 5vw;
    }
    .footer-nav li{
        padding: 5px 5vw;
    }
    .footer-nav li nav{
        font-size: smaller;
    }
    .home-txt {
        padding-left: 2vw;
    }
    .encontranos-btn {
        padding: 20px 4vw;
        font-size: medium;
    }
    .celulares-txt {
        font-size: larger;
        padding-left: 1vw;
    }
    .celulares-txt-btm {
        font-size: medium;
        padding-left: 1vw;
    }
    .service-txt {
        font-size: larger;
        padding-left: 1vw;
    }
}
@media (max-width: 900px) {
    .header-nav{
        justify-content: center;
    }
    .logo {
        margin-left: 25vw;
        justify-content: center;
        width: 30vw;
        height: auto;
    }
    .nav-links li a {
        padding: 0 0;
        font-size: 0;
    }
    .footer-nav li{
        padding: 7px 1vw;
    }
    .footer-nav li nav{
        font-size: x-small;
    }
    .aboutus-txt1 {
        font-size: larger;
        padding-left: 5vw;
    }
    .aboutus-txt2 {
        padding-left: 5vw;
    }
    .celulares-menu {
        padding: 10px 0;
        margin-left: 5vw;
    }
}